---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout title="The Rise of Intelligence">
  <main class="container mx-auto">
    <div class="py-12 max-w-2xl">
      <h1 class="text-4xl font-bold mb-4">The Rise of Intelligence</h1>
      <p class="text-xl text-gray-500 mb-4">
        จากจุดเริ่มของความคิด...สู่อนาคตของปัญญาประดิษฐ์ The Rise of
        Intelligence คือบันทึกการเดินทางของสติปัญญาแห่งมนุษยชาติ
      </p>
    </div>
  </main>
</SiteLayout>
