---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Home">
	<main class="container mx-auto">
		<div class="py-12">
			<h1 class="text-4xl font-bold">Machines School</h1>
			<p>
				The School of Machines — Teaching machines to think like humans.
			</p>
		</div>
	</main>
</SiteLayout>
