---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout title="Blog">
    <main class="container mx-auto">
        <div class="py-12">
            <h1 class="text-4xl font-bold">Courses</h1>
        </div>
    </main>
</SiteLayout>
